@import "tailwindcss";

@font-face {
  font-family: 'Paperlogy';
  font-weight: 100;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 200;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-2ExtraLight.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 500;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 600;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 800;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 900;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2') format('woff2');
  font-display: swap;
}

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: 'Paperlogy', sans-serif;
}

body {
  background: #ffffff;
  color: #171717;
  font-family: 'Paperlogy', sans-serif;
}
